<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Weekly Overview</h3>
        <p id="abc"></p>
    </div>
    <div class="panel-body">
      <div>
      
        <table class="table">
          <tr>
            <td >
              <label for="">Tìm theo tên</label>
            </td>
            <td colspan="2">
              <label for="">Tìm theo mức giá</label>
            </td>
          </tr>
         
          <tr>
            <td >
              <input type="text" class="form-control" placeholder="tên sản phẩm">
            </td>
            <td><input type="text" class="form-control" placeholder="giá min"></td>
            <td><input type="text" class="form-control" placeholder="giá max"></td>
          </tr>
          <tr>
            <td><label for="">Danh mục</label> </td>
            <td><label for="">Loại con 1</label> </td>
            <td><label for="">Loại con 2</label></td>
          </tr>
         <tr>
           <td><select class="form-control" (change)="getLoai1byLoai($event.target.value)" name="" id="">
            <option  *ngFor="let ls of loais" [value]="ls.maLoai">{{ls.tenLoai}}</option>
          </select></td>
           <td>
            <select class="form-control" (change)="getLoai2ByLoai1($event.target.value)" name="" id="">
              <option  *ngFor="let l1s of loai1s" [value]="l1s.maLoai">{{l1s.tenLoai}}</option>
            </select>
           </td>
           <td>
            <select class="form-control"  name="" id="">
              <option  *ngFor="let l2s of loai2s" [value]="l2s.maLoai">{{l2s.tenLoai}}</option>
            </select>
           </td>
          </tr>
        </table>
        
        <button class="btn btn-default btn-sm">Tìm</button>
      </div>
      <br>
        <a (click)="createModal()"  class="btn btn-success btn-sm">Thêm</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Loại</th>
            <th>Kho</th>
            <th>Giá bán</th>
            <th>Ảnh</th>
            <th>Chi tiết</th>
            <th>Xóa</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let sp of list_item">
        <tr >
            <td>{{sp.maSanPham}}</td> 
            <td>{{sp.tenSanPham}}</td>
           
            <td>{{sp.loaicon2.tenLoai}}</td>
            <td>{{sp.kho.soLuongCon}}</td>
            <td>  <a title="xem lịch sử giá" style="cursor: pointer;" (click)="lichSuGiaBan(sp)" ><u>{{sp.giahientai.gia |currency:'VND'}}</u></a></td>
            <td></td>
            <td><a class="btn btn-primary" (click)="openUpdateModal(sp)" >Xem</a></td>
            <td><a class="btn btn-danger" (click)="xoasp(sp.maSanPham)">Xóa</a></td>
        </tr>
    </ng-container>
    </tbody>
</table>
</div>
<div>  <ngb-pagination [collectionSize]="totalRecords" [pageSize]="size" [(page)]="index" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination></div>
    </div>

    <!-- modal -->
    <div *ngIf="showUpdateModal" id="SanphamModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg full-height-modal">
          <div class="modal-content">
            <div class="modal-header">
              <h4  *ngIf="isCreate" class="modal-title">Nhập thông tin sản phẩm</h4>
              <h4 *ngIf="!isCreate" class="modal-title">Cập nhật thông tin sản phẩm</h4>
            </div>
            <form *ngIf="doneSetupForm" [formGroup]="formdata"  (ngSubmit)="onSubmit(formdata.value)" class="form-horizontal ">
              <div class="modal-body ">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <label class="control-label no-padding-right"> Tên sản phẩm (<span style="color: red;">*</span>)</label>
                        <input type="text" placeholder="Tên sản phẩm" class="form-control" formControlName="tensanpham"/>
                        <div *ngIf="submitted && f.tensanpham.errors" class="invalid-feedback">
                          <div *ngIf="f.tensanpham.errors.required">Vui lòng nhập tên sản phẩm</div>
                        </div>
                      </td>
               
                    <td>
                      <label class="control-label no-padding-right"> Loại (<span style="color: red;">*</span>)</label>
                      <select  class="form-control" (change)="getLoai1byLoai($event.target.value)" id="">
                        <option *ngFor="let slcl of loais" [value]="slcl.maLoai">{{slcl.tenLoai}}</option>
                      </select>
                      <select  class="form-control" (change)="getLoai2ByLoai1($event.target.value)"  id="">
                        <option *ngFor="let slcl of loai1s" [value]="slcl.maLoai">{{slcl.tenLoai}}</option>
                      </select>
                      <select formControlName="maloai2" class="form-control" id="">
                        <option *ngFor="let slcl of loai2s" [value]="slcl.maLoai">{{slcl.tenLoai}}</option>
                      </select>
                      <div *ngIf="submitted && f.maloai2.errors" class="invalid-feedback">
                        <div *ngIf="f.maloai2.errors.required">Vui lòng chọn một loại</div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="control-label no-padding-right"> mô tả</label>
                        <textarea placeholder="Mô tả" class="form-control" formControlName="mota"></textarea>
                       
                    </td>
                    <td>
                      <label class="control-label no-padding-right"> ghi chú</label>
                        <textarea placeholder="Ghi chú" class="form-control" formControlName="ghichu"></textarea>
                       
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="control-label no-padding-right"> Ảnh</label>
                      <p-fileUpload #file_image mode="advanced" [showUploadButton]="false" cancelLabel="Hủy" chooseLabel ="Chọn ảnh"   multiple="false" accept="image/*" maxFileSize="1000000">
                        <ng-template pTemplate="content">
                            <img *ngIf="user && user.image_url" style="height: 100px;width: 100px;" [src]="user.image_url">
                        </ng-template>
                  </p-fileUpload>
                    </td>
                    <td>
                      <label class="control-label no-padding-right"> Số lượng</label>
                      <input type="text" class="form-control" value="0" formControlName="soluong" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <label class="control-label no-padding-right"> Giá nhập</label>
                      <input type="text" class="form-control" formControlName="gianhap" />
                      <div *ngIf="submitted && f.gianhap.errors" class="invalid-feedback">
                        <div *ngIf="f.gianhap.errors.required">Vui lòng chọn một loại</div>
                      </div>
                    </td>
                    <td>
                      <label class="control-label no-padding-right"> Giá bán</label>
                      <input type="text" class="form-control" formControlName="giaban" />
                      <div *ngIf="submitted && f.giaban.errors" class="invalid-feedback">
                        <div *ngIf="f.giaban.errors.required">Vui lòng nhập giá bán</div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <!-- <div class="form-group">
                  <label class="col-sm-2 control-label no-padding-right"> Tên sản phẩm(<span style="color: red;">*</span>)</label>
                  <div class="col-sm-5">
                    <input type="text" placeholder="Tên sản phẩm" formControlName="tensanpham"/>
                    <div *ngIf="submitted && f.tensanpham.errors" class="invalid-feedback">
                      <div *ngIf="f.tensanpham.errors.required">Vui lòng nhập tên sản phẩm</div>
                    </div>
                  </div>
                  <label class="col-sm-2 control-label no-padding-right"> Loại(<span style="color: red;">*</span>)</label>
                  <div class="col-sm-3">
                    <p-calendar formControlName="ngaysinh" [dateFormat]="dateFormat"  [locale]="locale_vn" [showIcon]="true" inputId="icon"></p-calendar>
                     -->
                     <!-- <input type="text" placeholder="Loại" formControlName="maloai2"/>
                    <div *ngIf="submitted && f.maloai2.errors" class="invalid-feedback">
                      <div *ngIf="f.maloai2.errors.required">Vui lòng nhập loại</div>
                    </div>
                  </div>
                </div> --> 
                <!-- <div class="form-group">
                  <label class="col-sm-2 control-label no-padding-right"> Email(<span style="color: red;">*</span>)</label>
                  <div class="col-sm-5">
                    <input type="email" formControlName="email" placeholder="Email" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email là bắt buộc</div>
                      <div *ngIf="f.email.errors.email">Địa chỉ email không đúng định dạng</div>
                  </div>
                  </div>
                  <label class="col-sm-2 control-label no-padding-right"> Giới tính(<span style="color: red;">*</span>)</label>
                  <div class="col-sm-3">
                    <p-dropdown [options]="genders" formControlName="gioitinh" [style]="{'width':'100%'}"></p-dropdown>
                    <div *ngIf="submitted && f.gioitinh.errors" class="invalid-feedback">
                      <div *ngIf="f.gioitinh.errors.required">Giới tính là bắt buộc</div>
                    </div>
                  </div>
                </div> -->
                <!-- <div class="form-group">
                  <label class="col-sm-2 control-label no-padding-right"> Địa chỉ</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="diachi" placeholder="Địa chỉ" />
                  </div>
                </div> -->

                <!-- <div class="form-group">
                  <label class="col-sm-2 control-label no-padding-right"> Ảnh đại diện</label>
                  <div class="col-sm-10">
                    <p-fileUpload #file_image mode="advanced" [showUploadButton]="false" cancelLabel="Hủy" chooseLabel ="Chọn ảnh"   multiple="false" accept="image/*" maxFileSize="1000000">
                        <ng-template pTemplate="content">
                            <img *ngIf="user && user.image_url" style="height: 100px;width: 100px;" [src]="user.image_url">
                        </ng-template>
                  </p-fileUpload>
                 
                  </div>
                </div> -->

                <!-- <div class="form-group">
                  <label class="col-sm-2 control-label no-padding-right"> Tài khoản(<span style="color: red;">*</span>)</label>
                  <div class="col-sm-4">
                    <input type="text" formControlName="taikhoan" placeholder="Tài khoản" />
                    <div *ngIf="submitted && f.taikhoan.errors" class="invalid-feedback">
                      <div *ngIf="f.taikhoan.errors.required">Tài khoản là bắt buộc</div>
                    </div>
                  </div>
                  <label class="col-sm-2 control-label no-padding-right"> Loại quyền(<span style="color: red;">*</span>)</label>
                  <div class="col-sm-4">
                    <p-dropdown [options]="roles" formControlName="role" [style]="{'width':'100%'}"></p-dropdown>
                    <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                      <div *ngIf="f.role.errors.required">Loại quyền là bắt buộc</div>
                    </div>
                  </div>
                </div> -->

                <!-- <div class="form-group">
                  <label class="col-sm-2 control-label no-padding-right"> Mật khẩu(<span style="color: red;">*</span>)</label>
                  <div class="col-sm-4">
                    <input type="password" formControlName="matkhau" placeholder="Mật khẩu" />
                    <div *ngIf="submitted && f.matkhau.errors" class="invalid-feedback">
                      <div *ngIf="f.matkhau.errors.required">Mật khẩu là bắt buộc</div>
                      <div *ngIf="f.matkhau.errors.matkhau">Độ dài mật khẩu tối thiệu phải là 6 ký tự và phải chứa ký tự đặc biệt @#!$%&*</div>
                  </div>
                  </div>
                  <label class="col-sm-2 control-label no-padding-right"> Nhập lại mật khẩu(<span style="color: red;">*</span>)</label>
                  <div class="col-sm-4">
                    <input type="password" formControlName="nhaplaimatkhau" placeholder="Nhập lại mật khẩu" />
                    <div *ngIf="submitted && f.nhaplaimatkhau.errors" class="invalid-feedback">
                      <div *ngIf="f.nhaplaimatkhau.errors.required">Xác nhận lại mật khẩu là bắt buộc</div>
                      <div *ngIf="f.nhaplaimatkhau.errors.mustMatch">Xác thực lại mật khẩu không đúng</div>
                  </div>
                  </div>
                </div>  -->
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-default btn-sm" (click)="reset()">
                <i class="fa fa-bell"></i> Làm mới
              </button>
              <button type="submit" class="btn btn-success btn-sm btn-submit">
                <i class="fa fa-save"></i> Đồng ý
              </button>
              <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">
                <i class="fa fa-times"></i> Đóng lại
              </button>
            </div>
          </form>  
          </div>
        </div>
      </div>

      <div  id="LSgiaModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg full-height-modal">
          <div class="modal-content">
            <div class="modal-header">
              <h4   class="modal-title" id="titleLSG"></h4>
            </div>
           
              <div class="modal-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Giá</th>
                      <th>Ngày bd áp dụng</th>
                      <th>Ngày kết thúc</th>
                      <th>Giá trị giao dịch</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="single_item">
                    <tr *ngFor="let g of single_item.dsgiaban">
                      <td>{{g.gia|currency:'VND'}}</td>
                      <td>{{g.ngayBD}}</td>
                      <td *ngIf="g.ngayKT">{{g.ngayKT}}</td>
                      <td *ngIf=!g.ngayKT>đang áp dụng</td>
                      <td>{{g.revenue|currency:'VND'}}</td>
                    </tr>
                  </tbody>
                </table>
       
            </div>
            <div class="modal-footer">
             
              <button type="button" class="btn btn-default btn-sm" onclick="$('#LSgiaModal').closest('.modal').modal('hide')">
                <i class="fa fa-times"></i> Đóng lại
              </button>
            </div>
   
          </div>
        </div>
      </div>