<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Danh sách môn học</h3>
        <p id="abc"></p>
    </div>
    <div class="panel-body">
        <a (click)="createModal()" class="btn btn-success btn-sm">Thêm</a>
        <div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Mã môn</th>
                        <th>Tên môn </th>
                        <th>Khối kiến thức</th>
                        <th>Số tc lý thuyết</th>
                        <th>Số tc thực hành</th>
                        <th>Chi tiết</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let sp of response">
                        <tr>
                            <td>{{sp.maMon}}</td>
                            <td>{{sp.tenMon}}</td>

                            <td>{{sp.khoiKienThuc}}</td>
                            <td>{{sp.soTCLyThuyet}}</td>
                            <td> {{sp.soTCThucHanh}}</td>
                            <td><a class="btn btn-primary" (click)="openUpdateModal(sp)">Xem</a></td>
                            <td><a class="btn btn-danger" (click)="xoaMonHoc(sp.maMon)">Xóa</a></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div>
            <ngb-pagination [collectionSize]="totalRecords" [pageSize]="size" [(page)]="index" [maxSize]="10"
                [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>

    <!-- modal -->
    <div *ngIf="showUpdateModal" id="MonHocModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg full-height-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 *ngIf="isCreate" class="modal-title">Thêm môn học</h4>
                    <h4 *ngIf="!isCreate" class="modal-title">Cập nhật môn học</h4>
                </div>
                <form *ngIf="doneSetupForm" [formGroup]="formdata" (ngSubmit)="onSubmit(formdata.value)"
                    class="form-horizontal ">
                    <div class="modal-body ">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="control-label no-padding-right"> Mã môn (<span
                                                style="color: red;">*</span>)</label>
                                        <input type="text" placeholder="Mã môn" class="form-control"
                                            formControlName="mamon" />
                                        <div *ngIf="submitted && f.mamon.errors" class="text-danger">
                                            <div *ngIf="f.mamon.errors.required">Vui lòng nhập mã môn</div>
                                        </div>
                                    </td>

<td>
                                        <label class="control-label no-padding-right"> Tên môn (<span
                                                style="color: red;">*</span>)</label>
                                        <input type="text" placeholder="Tên môn" class="form-control"
                                            formControlName="tenmon" />
                                        <div *ngIf="submitted && f.tenmon.errors" class="text-danger">
                                            <div *ngIf="f.tenmon.errors.required">Vui lòng nhập Tên môn</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan=2>
                                        <label class="control-label no-padding-right">Khối kiến thức</label>
                                        <textarea placeholder="Mô tả" class="form-control"
                                            formControlName="khoikienthuc"></textarea>

                                    </td>
                                    
                                </tr>
                                <tr>
                                     <td>
                                        <label class="control-label no-padding-right"> Số TC lý thuyết</label>
                                        <input type="text" class="form-control" value="1" formControlName="sotclt" />
                                    </td>
                                    <td>
                                        <label class="control-label no-padding-right">  Số TC thực hành</label>
                                        <input type="text" class="form-control" value="1" formControlName="sotcth" />
                                    </td>
                                </tr>
                              
                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-default btn-sm" (click)="reset()">
                            <i class="fa fa-bell"></i> Làm mới
                        </button>
                        <button type="submit" class="btn btn-success btn-sm btn-submit">
                            <i class="fa fa-save"></i> Đồng ý
                        </button>
                        <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">
                            <i class="fa fa-times"></i> Đóng lại
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>