<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Khoa</h3>
        <p id="abc"></p>
    </div>
    <div class="panel-body">
        <a (click)="createModal()" class="btn btn-success btn-sm">Thêm</a>
        <div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Mã khoa</th>
                        <th>Tên khoa </th>
                        <th>Số điện thoai</th>
                        <th>Chi tiết</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let sp of response">
                        <tr>
                            <td>{{sp.makhoa}}</td>
                            <td>{{sp.tenkhoa}}</td>

                            <td>{{sp.soDienThoai}}</td>
                         
                            <td><a class="btn btn-primary" (click)="openUpdateModal(sp)">Cập nhật</a></td>
                            <td><a class="btn btn-danger" (click)="xoaKhoa(sp.makhoa)">Xóa</a></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <div>
            <ngb-pagination [collectionSize]="totalRecords" [pageSize]="size" [(page)]="index" [maxSize]="10"
                [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>

    <!-- modal -->
    <div *ngIf="showUpdateModal" id="khoaModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg full-height-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 *ngIf="isCreate" class="modal-title">Nhập thông tin khoa</h4>
                    <h4 *ngIf="!isCreate" class="modal-title">Cập nhật thông tin khoa</h4>
                </div>
                <form *ngIf="doneSetupForm" [formGroup]="formdata" (ngSubmit)="onSubmit(formdata.value)"
                    class="form-horizontal ">
                    <div class="modal-body ">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <label class="control-label no-padding-right"> Mã khoa (<span
                                                style="color: red;">*</span>)</label>
                                        <input *ngIf="isCreate" type="text" placeholder="Mã khoa" class="form-control"
                                            formControlName="makhoa" />
                                            <input *ngIf="!isCreate" readonly style="cursor: not-allowed;" type="text" placeholder="Mã khoa" class="form-control"
                                            formControlName="makhoa" />
                                        <div *ngIf="submitted && f.makhoa.errors" class="text-danger">
                                            <div *ngIf="f.makhoa.errors.required">Vui lòng nhập Mã khoa</div>
                                        </div>
                                    </td>

<td>
                                        <label class="control-label no-padding-right"> Tên Khoa (<span
                                                style="color: red;">*</span>)</label>
                                        <input type="text" placeholder="Tên Khoa" class="form-control"
                                            formControlName="tenkhoa" />
                                        <div *ngIf="submitted && f.tenkhoa.errors" class="text-danger">
                                            <div *ngIf="f.tenkhoa.errors.required">Vui lòng nhập Tên Khoa</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan=2>
                                        <label class="control-label no-padding-right">Số điện thoại</label>
                                       <input type="text" placeholder="Số điện thoại" class="form-control"
                                            formControlName="sdt" />

                                    </td>
                                    
                                </tr>
                              
                              
                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-default btn-sm" (click)="reset()">
                            <i class="fa fa-bell"></i> Làm mới
                        </button>
                        <button type="submit" class="btn btn-success btn-sm btn-submit">
                            <i class="fa fa-save"></i> Đồng ý
                        </button>
                        <button type="button" class="btn btn-default btn-sm" (click)="closeModal()">
                            <i class="fa fa-times"></i> Đóng lại
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>