<form method="post"  >
   
<div class="col-md-8">
             <div class="panel">

               <div class="panel-body">
               
                   <div *ngIf="list_ij!=null">
                    
                       <form class="navbar-form ">
                        <button (click)="removeAll()" class="btn btn-sm btn-danger"><i class="lnr lnr-trash"></i> Xóa tất cả</button>
                        <span> </span>
                        <div class="input-group">
                            <input type="text" value="" class="form-control" placeholder="Tìm kiếm sản phẩm...">
                            <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
                        </div>
                    </form>
                    </div>
                   <div class="dssphdx">  
                   <table class="table table-hover">
         <thead></thead>
         <tbody>
             <tr *ngFor="let li of list_ij">

                 <td>{{li.tenSanPham}}</td>
                 <td>{{li.kho.giaNhap|currency:'VND'}}</td>
                 <td>{{li.danhmuc.tenLoai}}</td>
                 <td><input class="form-control form-control-sm" type="number" min=0 [value]="li.quantity" #itemquantity (change)="changeQuantity(itemquantity.value,li)"></td>
                 <td>{{li.money| currency:'VND'}}</td>
                 <td><a (click)="removeItem(li)"><i class="lnr lnr-trash"></i></a></td>
             </tr>
         </tbody>    
           </table>
           </div>
       </div>
   </div>
   <div class="panel">
       <div class="panel-body">
        <h3 class="panel-title">Danh sách sản phẩm</h3>
        <div>  <ngb-pagination [collectionSize]="tong" [pageSize]="size" [(page)]="index" [maxSize]="5" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination></div>
        <div class="dssphdx"> 				
    
        <table class="table table-hover">
            <thead></thead>
            <tbody>
                <tr *ngFor="let unit of allsp" (click)="addToList(unit)" style="cursor: pointer;">
                    <td>{{unit.tenSanPham}}</td>
                    <td>{{unit.kho.giaNhap|currency:'VND'}}</td>
                    <td>{{unit.danhmuc.tenLoai}}</td>
                    <td>Kho: {{unit.kho.soLuong}}</td>
                </tr>
            </tbody>    
              </table>

   </div>
       </div>
   </div>
</div>
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading"><h3 style="color:#113E93"><b>Hóa đơn nhập hàng</b></h3></div>
                <div class="panel-body">
                
                                               <input type="text" value="" style="display: none;" name="manhanvien">
                                                   <p>NV: <b> </b><span style="float: right;"> </span></p>
                                                   
                                           <p><select required="" class="form-control col-md-4" name="mancc"  >
 
                                       <option value=" "> </option>
                                       								
                                           </select></p>
                                           <br><br>
                                           <label>Hóa đơn ({{tongdanhmuc}} mục,{{list_ij_sum}} đơn vị sp)</label>
                                           <div>
                                               <table class="table table-striped">
                                                   <tr><td>Tổng tiền:</td><td class="number" > <span >{{Cost|currency:'VND'}}</span></td></tr>
                                                   <tr><td>Cần trả ncc</td><td class="number"><b id="total_price"></b><b> ₫</b></td></tr>
                                                   <tr><td>Tiền trả</td><td><input required="" id="tien-tra" style="float: right;" class="number" type="text"  name="tientrancc"></td></tr>
                                                   <tr><td>Còn nợ</td><td class="number">  ₫</td></tr>
                                               </table>
                                           </div>
                                           <div>
                                           <button class="btn btn-success col-md-12" onclick="return confirm('Bạn có muốn thêm hóa đơn xuất này không?')" id="btn-remove-all-item" type="submit">Thanh Toán</button></div>
                                       </div>
                                   </div>
                               </div>
                           </form>

<style type="text/css">
   .dssphdx{
 height: 200px;

  overflow-x:auto;
           overflow-y:auto;
       }
       
</style>