<form method="post"  >
   
<div class="col-md-12">
             <div class="panel">
               <div class="panel-body">
                   <div class="dssphdx">
                        <input readonly=""style="display: none;" type="number" name="totalrow"id="total_chq">
                   <table class="table table-striped">
                       <button class='btn btn-danger' id="remove_all_product" type='button'>Xóa tất cả</button>
         <thead></thead>
         <tbody id="sp-hdn"></tbody>    
           </table>
           </div>
       </div>
   </div>
   <div class="panel">
       <div class="panel-heading">
           <h3 class="panel-title">Danh sách sản phẩm</h3>

       </div>
       <div class="panel-body">
       <div class="dssphdx">									
       
       <div class="panel-title"><b> </b>
           </div><br>
       <div class="container" style="display: flex;justify-content: left">
       
       <div class="dvsp" style=" height: 80px;width: 80px">
       <span style="cursor: pointer;"><img class="add-item-to-cart" style="height:60px;width: 60px"  data-name="" data-price="" data-image="" data-product-code="" title="trong kho:  - đặt hàng: " alt="" src=""></span>
       <div>
           <b style="font-size: 12px; color:#D50303" class="number"><span id="con-no"></span> ₫</b></div>
           <b style="font-size: 10px; color:black;"> </b>
       </div>
     
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
   </div>
   <br>
       </div>
       </div>
   </div>
</div>
        <!-- <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading"><h3 style="color:#113E93"><b>Hóa đơn nhập hàng</b></h3></div>
                <div class="panel-body">
                
                                               <input type="text" value="" style="display: none;" name="manhanvien">
                                                   <p>NV: <b> </b><span style="float: right;"> </span></p>
                                                   
                                           <p><select required="" class="form-control col-md-4" name="mancc"  >
 
                                       <option value=" "> </option>
                                       								
                                           </select></p>
                                           <br><br>
                                           <label>Hóa đơn</label>
                                           <div>
                                               <table class="table table-striped">
                                                   <tr><td>Tổng tiền</td><td class="number" > <span id="total_price2"></span><span> ₫</span></td></tr>
                                                   <tr><td>cần trả ncc</td><td class="number"><b id="total_price"></b><b> ₫</b></td></tr>
                                                   <tr><td>Tiền trả</td><td><input required="" id="tien-tra" style="float: right;" class="number" type="text"  name="tientrancc"></td></tr>
                                                   <tr><td>Còn nợ</td><td class="number">  ₫</td></tr>
                                               </table>
                                           </div>
                                           <div>
                                           <button class="btn btn-success col-md-12" onclick="return confirm('Bạn có muốn thêm hóa đơn xuất này không?')" id="btn-remove-all-item" type="submit">Thanh Toán</button></div>
                                       </div>
                                   </div>
                               </div> -->
                           </form>

<style type="text/css">
   .dssphdx{
 height: 300px;

  overflow-x:auto;
           overflow-y:auto;
       }
       
</style>