<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Danh sách đơn hàng</h3>
        <p class="panel-subtitle">Period: Oct 14, 2016 - Oct 21, 2016</p>
    </div>
    <div class="panel-body">
        <!-- <a (click)="createModal()"  class="btn btn-success ">Thêm</a> -->
        Sắp xếp theo <select name="" class="btn btn-default" id="">
            <option value="">Ngày đặt</option>
            <option value="">Trạng thái</option>
            <option value="">Giá trị tăng dần</option>
            <option value="">Giá trị giảm dần</option>
        </select>
        <br>
<table class="table table-hover">
    <thead>
        <tr >
            <th>STT</th>
            <th>Mã</th>
            <th>Ngày</th>
            <th>Mã NCC</th>
            <th>Tổng chi phí</th>
            <th>Xem</th>
       
        </tr>
    </thead>
    <tbody>
        <ng-container>
        <tr  *ngFor="let hdn of hoadonnhaps" style="cursor: pointer;" title="Xem chi tiết ">
            <td>{{hoadonnhaps.indexOf(hdn)+1}}</td>
            <td>{{hdn.maHDN}}</td> 
            <td>{{hdn.ngayNhap}}</td>
           <td>{{hdn.maNCC}}</td>
            <td>{{hdn.tongchiphi|currency:'VND'}}</td>
            <td><a class="btn btn-info" >Xem</a></td>
        </tr>
    </ng-container>
    </tbody>
</table>
</div>
<div>  
    <ngb-pagination [collectionSize]="totalRecords" [pageSize]="size" [(page)]="index" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination></div>
    </div>

