<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Danh sách đơn hàng</h3>
        <p class="panel-subtitle">Period: Oct 14, 2016 - Oct 21, 2016</p>
    </div>
    <div class="panel-body">
        <!-- <a (click)="createModal()"  class="btn btn-success ">Thêm</a> -->
        Sắp xếp theo <select name="" class="btn btn-default" id="">
            <option value="">Ngày đặt</option>
            <option value="">Trạng thái</option>
            <option value="">Giá trị tăng dần</option>
            <option value="">Giá trị giảm dần</option>
        </select>
        <br>
<table class="table table-hover table-bordered">
    <thead style="background-color: darkgreen;color: white;">
        <tr>
            <th>STT</th>
            <th>Mã</th>
            <th>Ngày <a class="btn btn-sm btn-default" onclick="return alert('hello')"><i class="lnr lnr-chevron-down"></i></a></th>
            <th>Mã Khách</th>
            <th>Trạng thái</th>
            <th>Xử lý</th>
            <th>Tổng tiền</th>
            <th>Xem</th>
            
             <th>Hủy</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let dh of donhangs">
        <tr  style="cursor: pointer;" title="Xem chi tiết ">
            <td>{{donhangs.indexOf(dh)+1}}</td>
            <td>{{dh.maDH}}</td> 
            <td>{{dh.ngayDat}}</td>
            <td>{{dh.maKH}}</td>
            <ng-container>
           <td *ngIf="dh.trangThai==0">Chưa xác nhận</td>
           <td *ngIf="dh.trangThai==1">Đã xác nhận</td>
           <td *ngIf="dh.trangThai==2">Đã đóng gói</td>
           <td *ngIf="dh.trangThai==3">Đang giao hàng</td>
           <td *ngIf="dh.trangThai==4">Đã nhận hàng</td>
           <td *ngIf="dh.trangThai==5">Đã thanh toán</td>
           <td *ngIf="dh.trangThai==6">Đã hủy đơn</td>
        </ng-container>
        <ng-container>
           <td *ngIf="dh.trangThai==0"><a class="btn btn-success" (click)="changeStatus(dh.maDH)">Xác nhận</a></td>
           <td *ngIf="dh.trangThai==1"><a class="btn btn-success" (click)="changeStatus(dh.maDH)">Đóng gói</a></td>
           <td *ngIf="dh.trangThai==2"><a class="btn btn-success" (click)="changeStatus(dh.maDH)">Giao hàng</a></td>
           <td *ngIf="dh.trangThai==3"><a class="btn btn-success" (click)="changeStatus(dh.maDH)">nhận hàng</a></td>
           <td *ngIf="dh.trangThai==4"><a class="btn btn-success" (click)="changeStatus(dh.maDH)">Thanh toán</a></td>
           <td *ngIf="dh.trangThai==5">X</td>
        </ng-container>
           <td ><span style="float:right">{{dh.tonggiatri| currency:'VND'}}</span></td>
    
            <td><a class="btn btn-info" >Xem</a></td>
            <td *ngIf="dh.trangThai==6">Đã hủy</td>
            <td *ngIf="dh.trangThai==7">Đã Trả hàng</td>
            <td *ngIf="dh.trangThai==5"><a class="btn btn-danger">Trả hàng</a></td>
            <td *ngIf="dh.trangThai!=5"><a class="btn btn-danger">Hủy đơn</a></td>
        
        </tr>
    </ng-container>
    </tbody>
</table>
</div>
<div>  <ngb-pagination [collectionSize]="total" [pageSize]="size" [(page)]="index" [maxSize]="10" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination></div>
    </div>
